
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    @Html.ActionLink("All Customer", "Index", new { controller = "Customer" });
    @Html.ActionLink("All Product", "Index", new { controller = "Product" });
</div>